<!doctype html>
<html lang="en" class="no-js">
<head>
	{% load static %}
	<title>About Us</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{% static 'css/genix-assets.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">
			<div class="logo">
				<a href="index.html"><img class="img-responsive" src="{% static 'images/Slice/Side-Menu/logo.png' %}" alt=""></a>
			</div>
			<a class="elemadded responsive-link" href="#">Menu</a>
			<nav class="nav-menu">
				<ul class="menu-list">
					<li><a  href="index.html">Home</a></li>
					<li><a class="active" href="about.html">About Us</a></li>
					<li><a href="map.html">Map</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			<div class="social-box">
				<ul class="social-icons text-center">
					<li><a class="instagram" href="#"><img class="img-responsive" src="{% static 'images/Slice/Side-Menu/instagram.png' %}" alt="instagram image"></a></li>
					<li><a class="facebook" href="#"><img class="img-responsive" src="{% static 'images/Slice/Side-Menu/facebook.png' %}" alt="facebook image"></a></li>
					<li><a class="twitter" href="#"><img class="img-responsive" src="{% static 'images/Slice/Side-Menu/twitter.png' %}" alt="twitter image" style="margin-top: 7px"></a></li>
					<li><a class="linkedin" href="#"><img class="img-responsive" src="{% static 'images/Slice/Side-Menu/linkedin.png' %}" alt="linkedin image"></a></li>
				</ul>
				<p>© 2018 KHASquad. All rights reserved.</p>
			</div>

		</header>
		<!-- End Header -->

		<!-- content 
			================================================== -->
		<div id="content">

			<!-- page-banner-section 
				================================================== -->
			<section class="page-banner-section">
				<div class="border-line-box"></div>
				<div class="page-box-title">
					<div class="container">
						<h1>About Us</h1>
						<p>Lorem ipsum dolor sit amet ,sed diam nonummy nibh euismod. </p>
					</div>
				</div>
			</section>
			<!-- End page-banner section -->

			<!-- about-section
				================================================== -->
			<section class="about-section">
				<div class="container">
					<div class="about-box">
						<div class="row">
							<div class="col-sm-6">
								<div class="about-post">
									<h2>Our Mission</h2>
									<p>Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. </p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="about-post">
									<h2>Brand Ethos</h2>
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. <br>
									Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End about section -->
			<!-- team section -->
			<section class="team-section">
				<div class="container-fluid">
					<div class="title-section">
						<h1>Our People</h1>
					</div>
				</div>
				<div class="team-box">
					<div class="team-box-side">
						<div class="team-post">
							<img src="{% static 'images/Slice/About-Us/our-people-inactive.png' %}" alt="">
							<div class="hover-team">
								<div class="inner-team">
									<h3>John Rawley</h3>
									<span>Administrator</span>
									<ul class="social-team">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-post">
							<img src="{% static 'images/Slice/About-Us/our-people-hovered.png' %}" alt="">
							<div class="hover-team">
								<div class="inner-team">
									<h3>John Doe</h3>
									<span>Menager</span>
									<ul class="social-team">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-post">
							<img src="{% static 'images/Slice/About-Us/our-people-inactive.png' %}" alt="">
							<div class="hover-team">
								<div class="inner-team">
									<h3>Jessica Doe</h3>
									<span>Marketing</span>
									<ul class="social-team">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="team-post">
							<img src="{% static 'images/Slice/About-Us/our-people-inactive.png' %}" alt="">
							<div class="hover-team">
								<div class="inner-team">
									<h3>Jessica Doe</h3>
									<span>Marketing</span>
									<ul class="social-team">
										<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End team section -->
			<!-- statistic-section 
				================================================== -->
			<section class="statistic-section">
				<div class="container-fluid">
					<div class="statistic-box">
						<div class="statistic-post">
							<img src="{% static 'images/Slice/About-Us/continents-icon.png' %}" alt="continents-icon">
							<h2><span class="timer" data-from="0" data-to="453"></span></h2>
							<p>Completed Projects</p>
						</div>
						<div class="statistic-post">
							<img src="{% static 'images/Slice/About-Us/offices-icon.png' %}" alt="offices-icon"> 
							<h2><span class="timer" data-from="0" data-to="856"></span></h2>
							<p>Hours of Work</p>
						</div>
						<div class="statistic-post">
							<img src="{% static 'images/Slice/About-Us/nationalities-represented-icon.png' %}" alt="nationalities-represented-icon">
							<h2><span class="timer" data-from="0" data-to="325"></span></h2>
							<p>Happy Clients</p>
						</div>

						<div class="statistic-post">
							<img src="{% static 'images/Slice/About-Us/countries-icon.png' %}" alt="countries-icon">
							<h2><span class="timer" data-from="0" data-to="550"></span></h2>
							<p>Cups of Coffee</p>
						</div>
						<div class="statistic-post">
							<img src="{% static 'images/Slice/About-Us/clubs-icon.png' %}" alt="clubs-icon">
							<h2><span class="timer" data-from="0" data-to="32"></span></h2>
							<p>Awards Won</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End statistic section -->
			<!-- Testimonial-section 
				================================================== -->
			<section class="testimonial-section">
				
				<div class="title-section white-style">
					<h1>What our clients say</h1>
				</div>
			<div class="container" style="
			background: url(images/Slice/About-Us/testimonial-box.png) no-repeat 100% 100%;
    padding: 76px 0;
    background-size: 80% 100%;
    background-position: center;">


					<div class="testimonial-box" >
						<ul class="bxslider">
							<li>		
								<img src="{% static 'upload/others/test1.jpg' %}" alt="">
								<p>" Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. " </p>
								<h3>Andreas Joy, Web Designer</h3>
							</li>
							<li>
								<img src="{% static 'upload/others/test2.jpg' %}" alt="">
								<p>" Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. " </p>
								<h3>John Doe, Web Developer</h3>
							</li>
							<li>
								<img src="{% static 'upload/others/test3.jpg' %}" alt="">
								<p> Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. " </p>
								<h3>Michael Smith, Ui Designer</h3>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- End Testimonial section -->
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<script src="{% static 'js/genix-plugins.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>