<!doctype html>

{% load static %}
<html lang="en" class="no-js">
<head>
	<title>Genix</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="stylesheet" href="{% static 'css/genix-assets.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header class="clearfix">

			<div class="logo">
				<a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""></a>
			</div>

			<a class="elemadded responsive-link" href="#">Menu</a>

			<nav class="nav-menu">
				<ul class="menu-list">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a  class="active" href="map.html">Map</a></li>
					<!-- <li><a href="blog.html">Media</a></li> -->
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>

			<div class="social-box">
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
					<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			
				<p>© 2020 KHASquared. All rights reserved.</p>
			</div>

		</header>
		<!-- End Header -->

		<!-- content 
			================================================== -->
		<div id="content">

			<!-- map 
				================================================== -->
			<!--<div>
				<img src="images/mapbg.jpg"  width="100%" height="500">
			</div>-->
			<!-- End map -->
			<section class="page-banner-section-map">
				
				<div class="border-line-box"></div>
				<div class="page-box-title">
					<div class="container">
						<!--
						<h1>Checkout the Map</h1>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
					</div>-->
				</div>
			</section>
			<!-- contact-form-section 
				================================================== -->

				<script>
					function showme(country,desc,pop,cups,clubs){
							console.log	($('#'+country).offset())
							var pos=($('#'+country).offset());
// $('#hovdiv').css('top',pos.top+250,'left',pos.left+650,'bottom',pos.bottom+100,'right',pos.right-100);
$('#hovdiv').css("display","block");
$('#hovdiv').offset({top:(pos.top+1000),left:(pos.left+400)});
// $('#hovdiv').position().top = pos.top;
// $('#hovdiv').position().left = pos.left;
$('#count').text(country);
$('#desc').text(desc);
$('#pop').text(pop);
$('#cups').text(cups);
$('#clubs').text(clubs);					}
					function notshowme(){
						$('#hovdiv').css("display","none");
					}
				</script>
		<style>
#mp area{
	cursor: pointer;
}
		</style>

			<section class="contact-form-section">
				
				<img src="{% static 'images/map.jpg' %}" usemap="#image-map" width="100%">
				<div id="hovdiv" style="position: absolute;
				width: 300px;
				height: auto;
				/* top: 66px; */
				background: black;
				padding: 10px;
				/* left: 100px; */
				border: #FFF 1px solid;
				display: none;">
				<h2 class="text-primary p-3 " style="float:left" id="count">USA</h2><span class="text-white" style="float: right; cursor: pointer;" onclick="notshowme()">&times;</span>
				<span class="clearfix"></span>
				<h6 class="text-white " id="desc">lorem ipsum</p>
				<h6 class="text-primary">POPULATION: <span class="text-white" id="pop">328.2 MILLION(2019)</span></h6>	
				
				<h6 class="text-primary">WORLDCUPS WON: <span class="text-white" id="cups">04</span></h6>
				<h6 class="text-primary">MOST SUCCESSFUL CLUBS: <span class="text-white" id="clubs">Club1, Club2</span></h6>
				
			</div>
				<map name="image-map" id="mp">
					<area target="" onclick="showme('Canada','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="Canada" alt="canada" title="canada"  coords="286,222,27" shape="circle">
					<area target="" onclick="showme('USA','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="USA"  alt="usa" title="usa"  coords="307,335,25" shape="circle">
					<area target=""  onclick="showme('Argentina','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="Argentina" alt="Argentina" title="argentina"  coords="439,643,28" shape="circle">
					<area target=""  onclick="showme('Brazil','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="Brazil"  alt="brazil" title="brazil"  coords="496,549,27" shape="circle">
					<area target="" onclick="showme('Morocco','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="Morocco"  alt="moroco" title="moroco"  coords="656,359,27" shape="circle">
					<area target="" onclick="showme('Algeria','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="Algeria"  alt="algeria" title="algeria"  coords="696,413,22" shape="circle">
					<area target="" onclick="showme('Tunisia','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="Tunisia"  alt="tunisia" title="tunisia"  coords="713,330,29" shape="circle">
					<area target="" onclick="showme('Egypt','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="Egypt"  alt="egypt" title="egypt"  coords="781,415,27" shape="circle">
					<area target="" onclick="showme('Saudia-Arabia','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="Saudia-Arabia" alt="saudia" title="saudia"  coords="841,359,23" shape="circle">
					<area target="" onclick="showme('Qatar','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="Qatar"  alt="qatar" title="qatar"  coords="862,416,25" shape="circle">
					<area target="" onclick="showme('UAE','LOREM IPSUM','1.5 MILLION','2','club2,club3')" id="UAE"  alt="uae" title="uae"  coords="878,552,29" shape="circle">
					<area target="" onclick="showme('SouthAfrica','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="SouthAfrica" alt="saf" title="saf"  coords="770,629,25" shape="circle">
					<area target="" onclick="showme('Malaysia','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="Malaysia" alt="malaysia" title="malaysia"  coords="975,560,26" shape="circle">
					<area target="" onclick="showme('India','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="India" alt="india" title="india"  coords="961,431,28" shape="circle">
					<area target="" onclick="showme('Thailand','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="Thailand" alt="thailand" title="thailand"  coords="1038,462,26" shape="circle">
					<area target="" onclick="showme('Singapore','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="Singapore" alt="singapore" title="singapore"  coords="1055,637,27" shape="circle">
					<area target="" onclick="showme('China','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="China" alt="china" title="china"  coords="1051,369,29" shape="circle">
					<area target=""  onclick="showme('Indonesia','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="Indonesia" alt="indonesia" title="indonesia"  coords="1086,521,27" shape="circle">
					<area target="" onclick="showme('Japan','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="Japan" alt="japan" title="japan"  coords="1179,378,31" shape="circle">
					<area target="" onclick="showme('Australia','LOREM IPSUM','1.5 MILLION','2','club2,club3')"  id="Australia" alt="australia" title="austrailia"  coords="1167,595,31" shape="circle">
				</map>
			</section>
			<!-- End contact-form section -->

		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

	<script src="{% static 'js/genix-plugins.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCiqrIen8rWQrvJsu-7f4rOta0fmI5r2SI&amp;sensor=false&amp;language=en" type="text/javascript"></script>
	<script type="text/javascript" src="{% static 'js/gmap3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>